*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Image{
    background-image: url(image.jpg);
}

.flex{
    display: flex;
    width: 660px;
    height: 660px;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#Randomise{
    position: absolute;
    left: 50%;
    top: 88%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    padding: 20px 60px;
}

#Generate{
    font-size: 16px;
    padding: 10px;
}

#NOB{
    font-size: 16px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 10px;
}

.absolute{
    position: absolute;
}
